/vendor/
/node_modules/
.env
.env.backup
.env.production
/bootstrap/cache/*.php
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/database/database.sqlite
*.sqlite
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/public/hot
/public/storage
/public/build
